body {
  font-family: sans-serif;
  background-color: #fff;
}
h1, h2, h3, h4 {
  color: #000;
}
h1, h2 {
  font-family: 'Georgia', serif;
  margin: 0;
}
h1 {
  border-bottom: 2px solid #000;
}
h2 {
  font-size: 1.2em;
}
header {
  padding: 15px;
  border-bottom: 2px solid #000;
}
#login {
  width: 140px;
  height: 42px;
  background-color: #d83939;
  color: #fff;
  font-size: 25px;
  text-align: center;
  border-radius: 0.5em;
  right: 16px;
  top: 15px;
  position: absolute;
  padding-top: 10px;
}
#container h1 {
  border-bottom: none;
}
.container {
  position: relative;
  width: 100%;
}
p {
  color: #000000;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color:#FFFFCC;
  color: #000000;
}
li {
  list-style: none;
  line-height: 2em;
}

#item_content, #categories_content, #category_content, #form_content {
  width: 50%;
  float: center;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 10px 10px 47px 0px #b8b8b8;
}

#item_content a {
  color: #000000;
}

#item_content p {
  font-size: 20px;
}

#links {
  margin-top: 30px;
  margin-bottom: 18px;
}

#links a {
  height: 42px;
  background-color: #d83939;
  color: #fff;
  font-size: 15px;
  text-align: center;
  border-radius: 0.5em;
  padding: 10px;
}

/* Edit and Delete forms */
#form_content input[type=text] {
  width: 250px;
  height: 30px;
  font-size: 18px;
}

#form_content textarea {
  width: 250px;
  font-size: 18px;
  resize: none;
}

#form_content p {
  font-size: 20px;
  line-height: 1em;
  margin-top: 40px;
}

#form_content select {
  appearance: none;
  font-size: 20px;
  width: 250px;
  height: 40px;
}

#form_content input[type=submit] {

  height: 38px;
  border: none;
  background-color: #d83939;
  color: #fff;
  font-size: 15px;
  text-align: center;
  border-radius: 0.5em;
  padding: 10px;
  cursor: pointer;
}

#delete_btn {
  width: 70px;
}

.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333; }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }
