<!DOCTYPE html>
<html>
  <head>
    <title>Add Item | Sports Catalog</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="container">
        <h1><a href="{{url_for('showHomePage')}}">Sports Catalog</a></h1>
        {% if not allowed %}
          <a href="{{url_for('showLogin')}}" id="login">Login</a>
        {% else %}
          <a href="{{url_for('gdisconnect')}}" id="logout">Logout</a>
        {% endif %}
      </div>
    </header>
    <div id="form_content">
      <h1>Add Item</h1>
      <form action="{{url_for('addItem')}}" method="post">
        <p>
          Title
        </p>
        <input type="text" name="name" />
        <p>
          Description
        </p>
        <textarea rows="4" cols="50" name="description"></textarea>
        <p>
          Category
        </p>
        <select name="category">
          {% for category in categories %}
            <<option value="{{category.name}}">{{category.name}}</option>
          {% endfor %}
        </select></br></br>
        <input type="submit" value="Create" />
      </form>
    </div>
  </body>
</html>
