<html>
  <head>
    <title>Catalog App</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Catalog App</h1>
    <h1>Delete Item</h1>
    <p>
      Are you sure you want to delete '{{item.name}}'?
    </p>
    <form action="{{url_for('deleteItem', item_id=item.id, category_id = category.id)}}" method="post">
        <input type="submit" value="Delete" />
    </form>
  </body>
</html>
