<!DOCTYPE html>
<html>
  <head>
    <title>Edit Item | Sports Catalog</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="container">
        <h1><a href="{{url_for('showHomePage')}}">Sports Catalog</a></h1>
        <a href="#" id="login">Login</a>
      </div>
    </header>
    <div id="form_content">
      <h1>Edit Item</h1>
      <form action="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" method="post">
        <p>
          Title
        </p>
        <input type="text" value="{{item.name}}" name="name" />
        <p>
          Description
        </p>
        <textarea rows="4" cols="50" name="description">{{item.description}}</textarea>
        <p>
          Category
        </p>
        <select name="category">
          {% for category in categories %}
            <<option value="{{category.name}}">{{category.name}}</option>
          {% endfor %}
        </select></br></br>
        <input type="submit" value="Edit" />
      </form>
    </div>
  </body>
</html>
