<!DOCTYPE html>
<html>
  <head>
    <title>Sports Catalog</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="container">
        <h1><a href="{{url_for('showHomePage')}}">Sports Catalog</a></h1>
        <a href="#" id="login">Login</a>
      </div>
    </header>
    <div id="categories_content">
      <h1>Categories</h1>
      <ul>
        {% for category in categories %}
          <li>
            <a href="{{url_for('showItems', category_id=category.id)}}">{{category.name}}</a>
          </li>
        {% endfor %}
      </ul>
      <h1>Latest Items Added</h1>
      <ul>
        {% for item in latestItems %}
          <li>
            <a href="{{url_for('showItem', category_id=item.category_id, item_id=item.id)}}">{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
