<html>
  <head>
    <title>Catalog App</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Catalog App</h1>
    <h1>Categories</h1>
    {% for category in categories %}
      <p>
        {{category.name}}
      </p>
    {% endfor %}
    <h1>{{category.name}} Items</h1>
    <ul>
      {% for item in items %}
        <li>
          {{item.name}}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
