<!DOCTYPE html>
<html>
  <head>
    <title>{{item.name}} | Sports Catalog</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="container">
        <h1><a href="{{url_for('showHomePage')}}">Sports Catalog</a></h1>
        {% if not allowed %}
          <a href="{{url_for('showLogin')}}" id="login">Login</a>
        {% else %}
          <a href="{{url_for('gdisconnect')}}" id="logout">Logout</a>
        {% endif %}
      </div>
    </header>
    <div id="item_content">
      <h1>{{item.name}}</h1>
      <p>
        {{item.description}}
      </p>
      {% if authorized %}
      <div id="links">
        <a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}">Edit</a>
        <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}">Delete</a>
      </div>
      {% else %}
      <div id="links">
        <a href="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" disabled="true" id="disabled">Edit</a>
        <a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id)}}" disabled="true" id="disabled">Delete</a>
        <p>
          You are not authorized to edit or delete this item
        </p>
      </div>
      {% endif %}
    </div>
  </body>
</html>
