<!DOCTYPE html>
<html>
  <head>
    <title>{{category.name}} | Catalog App</title>
    <meta charset="utf-8" content="width=device-width", initial-scale="1.0">
    <link href="/static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div id="container">
        <h1><a href="{{url_for('showHomePage')}}">Sports Catalog</a></h1>
        {% if not allowed %}
          <a href="{{url_for('showLogin')}}" id="login">Login</a>
        {% else %}
          <a href="{{url_for('gdisconnect')}}" id="logout">Logout</a>
        {% endif %}
      </div>
    </header>
    <div id="category_content">
      <h1>Categories</h1>
      <ul>
        {% for category in categories %}
          <li>
            <a href="{{url_for('showItems', category_id=category.id)}}">{{category.name}}</a>
          </li>
        {% endfor %}
      </ul>
      <h1>{{category.name}} Items</h1>
      <ul>
        {% for item in items %}
          <li>
            <a href="{{url_for('showItem', category_id=category.id, item_id=item.id)}}">{{item.name}}</a>
          </li>
        {% endfor %}
      </ul>
      {% if allowed %}
        <div id="links" class="add">
          <a href="{{url_for('addItem')}}">Add Item</a>
        </div>
      {% endif %}
    </div>
  </body>
</html>
